@import "variables.less";

body {
    background-color: @primary-normal;
}

#page-wrapper {
    padding: 60px 15px;
    min-height: 568px;
    background-color: @primary-normal;
}

#welcome {
    background-image: url('../../static/appointmentImage.png');

    div {
        color: @secondary-normal;
        background-color: rgba(0,0,0,0.3);
        padding-bottom: 25px;
        text-align: center;
    }
}

.green-panel {
    border-color: @secondary-light;
    > .panel-heading {
        background-color: @secondary-light;
    }
}

