/* As hex codes */

@primary-lightest: #6F0AAA;	/* Main Primary color */
@primary-light: #9751C0;
@primary-normal: #802FB0;
@primary-dark: #550784;
@primary-darkest: #430467;

@secondary-lightest: #A2EF00;	/* Main Secondary color (1) */
@secondary-light: #C3F35F;
@secondary-normal: #B4F036;
@secondary-dark: #7DB800;
@secondary-darkest: #629100;

@tertiary-lightest: #FFD200;	/* Main Secondary color (2) */
@tertiary-light: #FFE363;
@tertiary-normal: #FFDC39;
@tertiary-dark: #C5A200;
@tertiary-darkest: #9B7F00;